header#banner.hero-unit
  .container
    h1 'Категорії'

.container
  .row
    .col-lg-12
      h1.page-header Features:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in $ctrl.awesomeThings')
        li
          a(href='#', uib-tooltip='{{thing.info}}')
            | {{thing.name}}
            button.close(type='button', ng-click='$ctrl.deleteThing(thing)') &times;
